@model Chessinfo.Models.Game 

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiteId" class="control-label"></label>
                <select id="playerSelectWhite"  asp-for="WhiteId">
                    @foreach (var player in ViewBag.Players)
                    {
                        <option value="@player.Id">@player.FirstName @player.LastName</option>
                    }
                </select>
                <!-- <input asp-for="White" class="form-control" /> -->
                <span asp-validation-for="WhiteId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BlackId" class="control-label"></label>
                <select id="playerSelectBlack"  asp-for="BlackId">
                    @foreach (var player in ViewBag.Players)
                    {
                        <option value="@player.Id">@player.FirstName @player.LastName</option>
                    }
                </select>
                <span asp-validation-for="BlackId" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Result">
                    <select asp-for="Result">
                        <option value="White">White</option>
                        <option value="Draw">Draw</option>
                        <option value="Black">Black</option>
                    </select>
                </label>  

            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
