@model IEnumerable<Chessinfo.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Games</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>@Html.DisplayNameFor(model => model.WhiteId)</th>
            <th>@Html.DisplayNameFor(model => model.BlackId)</th>
            <th>@Html.DisplayNameFor(model => model.Result)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToShortDateString()
                
            </td>
            <td>@(item.White.FirstName + " " + @item.White.LastName)
               </td>
                <td>@(item.Black.FirstName + " " + @item.Black.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Result)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
